<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WVRSetting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A160783F1F68C3F90091BFEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A16078571F68C3F90091BFEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A16078621F68C3F90091BFEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
